body {
    font-family: 'Poppins';
}

.top-bar-bcg {
    width: 100%;
    background-color: #87C159;
}

.top-bar {
    width: 1170px;
    margin: 0 auto;
    max-width: 90%;
    height: 80px;
    background-color: #87C159;
    color: #fff;
    padding: 5px 0 15px 0;
    display: flex;
}

.top-bar-info {
    padding-top: 5PX;
    display: flex;
    width: 60%;
}

.top-bar-social-media {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.top-bar .top-bar-info .info i {
    font-size: 15px;
    color: #058240;
}

.top-bar .top-bar-info .info span {
    font-size: 13px;
    padding-right: 20px;
}

.top-bar .top-bar-social-media .icon {
    padding-left: 15px;
    font-size: 15px;
    padding-top: 3px;
}

.top-bar .top-bar-social-media .icon:hover {
    color: #058240;
    transition: .2s;
}

/* .menu-cont{
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;
    transition: .5s ease-in-out;
} */
/* .navbar-edit {
    display: flex;
    position: fixed;
    left: 19%;
    top: 7%;
    transform: translate(5%,-19%);
    width: 57%;
    height: 85px;
    border-radius: 5px;
    z-index: 10;
    justify-content: space-between;
} */
header .menu-cont .inner {
    position: absolute;
    left: 50%;
    top: 100%;
    background-color: #fff;
    padding: 0 30px 0 16px;
    z-index: 99999;
    border-radius: 5px;
    transform: translate3d(-50%, -35%, 0);
}

.navbar-edit {
    width: 1170px;
    height: auto;
    margin: 0 auto;
    max-width: 90%;
    background-color: #fff !important;
}

.contact {
    padding: 10px 15px;
    background-color: #87C159;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
}


.contact:hover {
    color: #fff;
    text-decoration: none;
    background-color: #058240;
    transition: .3s;
}

.nav-item:after {
    display: block;
    content: '';
    border-bottom: solid 3px #87C159;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item.fromLeft:after {
    transform-origin: 0% 50%;
}

.first-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    color: #fff;
}

.first-slide h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: #e2e2ee;
}

.first-slide h1 {
    font-size: 80px;
}

.first-slide a.contact {
    margin-top: 20px;
    padding: 10px 30px;
}

.second-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    color: #fff;
}


.second-slide h1 {
    font-size: 80px;
}

.second-slide a.contact {
    margin-top: 20px;
    padding: 10px 30px;
}

.third-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    color: #fff;
}

.third-slide h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: #e2e2ee;
}


.third-slide h1 {
    font-size: 80px;
}

.third-slide a.contact {
    margin-top: 20px;
    padding: 10px 30px;
}

.about-us {
    width: 1170px;
    margin: 0 auto;
    max-width: 90%;
    color: #fff;
    padding: 5px 0 15px 0;
    display: flex;
    position: relative;
}


.about-us-inner {
    z-index: 1;
    height: auto;
    background-color: #fff;
    color: #7f8c8d;
    padding: 0;
}

.about-us-image{
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-top: 20%;    
}

.about-us-info {
    text-align: justify;
    margin-top: 40px;
    padding: 15px;
}

.about-us-info h2{
    text-align: center !important;
    padding: 10px 0;
}

.about-us-info p{
    padding: 0 25px ;
}

.services-bcg{
    background-color: #f0eaea;
    padding: 50px;
}

.services h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2    0px;
    font-weight: 600;
    color: #000;
    font-size: 18px;
}

.services h2 {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 50px;
    font-weight: 600;
    color: #cacaca;
    font-size: 18px;
}

.services {
    text-align: center  ;
    width: 1170px;
    height: auto;
    margin: 5% auto 0 auto;
    max-width: 90%;
    color: #333;
  
}

.single-services {
    background: rgba(255,255,255,.5);
    position: relative;
    height: 100%;
    padding: 70px 38px 60px;
    border-radius: 10px;
}

.services-icon img{
    width: 150px;
    margin-bottom: 20px;
}

.button-48 {
    appearance: none;
    background-color: #87C159;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 5px;
  }
  
  .button-48:hover{
    text-decoration: none;
  }

  .button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #058240;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    color: #fff !important;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
    text-decoration: none !important;
    border-bottom: 0 !important;
  }
  
  .button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    text-decoration: none !important;
    color: #fff !important;
}
  
  .button-48:after {
    background-color: #FFFFFF;
    text-decoration: none !important;
    color: #fff !important;
  }
  
  .button-48 span {
    text-decoration: none !important;
    color: #fff !important;
    z-index: 1;
    position: relative;
  }