.top-bar{
    width: 100%;
   background-color: #87C159;
   color: #fff;
    padding: 5px 0 15px 0;
    display: flex   ;
}

.top-bar-info{
    display: flex;
    width: 60%;
    text-align: left;
    padding: 0 15px;
}

.top-bar-social-media{
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.navbar-edit{
    position: fixed;
    width: 60%;
    top: 50px;
    height: 72px;
    border-radius: 5px;
}